<% include includes/head %>

<div class="row" style="background-color: #EB8671;padding: 50px">
    <div class="twelve columns">
        <h4>Error</h4>
        <p><%= message %></p>
        <p><%= error %></p>
      </div>
    </div>
</div>


<% include includes/foot %>