<% include includes/head %>

  <!-- Temporary testing form -->

  	<form action="/new" method="post">
  		<label for="name">Name</label>
  		<input type="text" id="name" name="name">
  		<label for="sublinks0">sublinks[0]</label>
  		<input type="text" id="sublinks0" name="sublinks[0][url]">
  		<label for="sublinks1">sublinks[1]</label>
  		<input type="text" id="sublinks1" name="sublinks[1][url]">
  		<button type="submit">Submit</button>
  	</form>

<% include includes/foot %>