<% include includes/head %>

    <div class="row">
        <h5>Your ziplink: <strong><%= ziplinkData.ziplinkID %></strong></h5>
    </div>

	<!-- Data object passed to ziplink view is ziplinkData -->
	<!-- <%= ziplinkData %> -->
	<!-- ziplinkData is an object pulled direct from the DB which for now contains the entire DB document -->
	<!-- See models/Ziplink.js for format -->

	<table class="u-full-width">
      <thead>
        <tr>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <% ziplinkData.sublinks.forEach(function(sublink) { %>
            <tr>
                <td><a class="ziplink" href="<%= sublink.url %>"><%= sublink.url %></td>
            </tr>
        <% }); %>
      </tbody>
    </table>

    <button type="button" id="openAll">Open All</button>


<% include includes/foot %>